<head>
    <title>PGCTF20</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-red.min.css" />
    <link rel="stylesheet" href="public/material.min.css"/>
    <link rel="stylesheet" href="data/chartist.min.css">
    <script src="public/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="data/chartist.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
    html {
        scroll-behavior: smooth;
    }
    .demo-layout-transparent {
        background: url('images/PGCTF20-bg.png') center / cover;
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
        color: white;
    }
    .about-card-wide.mdl-card {
        width: 470px;
    }
    .demo-card-wide.mdl-card {
        width: 470px;
    }
    .grid-card.mdl-card {
        width: 100%;
    }
    .demo-card-wide > .mdl-card__menu ion-icon {
        color: rgb(0, 162, 255);
    }
    text {
        font-size: 25px !important;
        font-weight: bolder;
    }
    blockquote {
        font-size: 20px !important;
    }
</style>
    
<header class="mdl-layout__header mdl-layout__header--transparent">
<div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title"><a style="text-decoration:none;color:white;" href="/" >PGCTF20</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="about">About</a>
    <a class="mdl-navigation__link" href="statistics">Statistics</a>
    <a class="mdl-navigation__link" href="team">Team</a>
    <a class="mdl-navigation__link" href="contact">Contact</a>
    <a class="mdl-navigation__link" href="register">Register</a>
    </nav>
</div>
</header>
<div class="mdl-layout__drawer">
<a href="/"><span class="mdl-layout-title">PGCTF20</span></a>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="about">About</a>
    <a class="mdl-navigation__link" href="statistics">Statistics</a>
    <a class="mdl-navigation__link" href="team">Team</a>
    <a class="mdl-navigation__link" href="contact">Contact</a>
    <a class="mdl-navigation__link" href="register">Register</a>
</nav>
</div>