<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section style="margin-top: 8em;">
                    <h1 style="color:white;text-align:center;"><strong>CTF time</strong></h1>
                </section>
                <section style="margin-top: 20em;">
                    <div class="mdl-grid" style="justify-content: center;">
                        <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                        <div class="about-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>What is a CTF?</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                        Don't know what a computer is? Create a team and come anyways. The team can help you learn.
                                        A CTF, or Capture the Flag, is a jeopardy-style cybersecurity competition. Teams of 1-4 students compete against other teams to solve the most problems and fight their way to the top of the leaderboard.
                                </p>
                            </div>
                        </div>
                        <div class="about-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--6-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>Educational Benefits</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                    A CTF can educate its participants in many areas, and we specifically design our problems to accommodate every experience level from beginner to advanced.
                                </p>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                    </div>
                    <div class="mdl-layout-spacer mdl-layout--small-screen-only"></div>
                </section>
                <section class="page-content" style="margin-top: 7em;">
                    <blockquote><h1 style="color:white;margin-bottom: -1em;">Skills</h1></blockquote>
                    <div class="mdl-grid" style="justify-content: center;">
                        <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                        <div class="invert-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--3-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <i class="material-icons">people_alt</i><h2 class="mdl-card__title-text center"><strong>&nbsp;Teamwork</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                    Teamwork is one of the most valuable skills to have. Developing the ability to work and coordinate with a group of people during earlier years undoubtably helps with a professional life later on.
                                </p>
                            </div>
                        </div>
                        <div class="invert-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--3-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <i class="material-icons">live_help</i><h2 class="mdl-card__title-text center"><strong>&nbsp;Problem Solving</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                    Participating in a CTF requires self-exploration and constructive problem solving. Learning to find answers to problems without dependence on an educator is crucial for many modern career paths.
                                </p>
                            </div>
                        </div>
                        <div class="invert-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--3-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <i class="material-icons">laptop</i><h2 class="mdl-card__title-text center"><strong>&nbsp;Ability</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                    Throughout a CTF, the participants learn new tactics on approaching complex concepts like creating algorithms, performing cyber-forensics on various media, and penetration testing websites professionally.
                                </p>
                            </div>
                        </div>
                        <div class="invert-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--3-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <i class="material-icons">wifi</i><h2 class="mdl-card__title-text center"><strong>&nbsp;Networking</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>
                                    Creating a professional network is an important factor in success. Having people to ask questions, get resources, and collaborate with can be incredibly beneficial when looking ahead.
                                </p>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                    </div>
                </section>
            </main>
        </body>
    </div>
</html>