<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section style="margin-top: 8em;">
                    <h1 style="color:white;text-align:center;"><strong>Get in touch</strong></h1>
                </section>
                <section style="margin-top: 5em;">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMsip4rPOkhZR7WFv2UZa6CuPE_Kw5bfAi3lAn5pue_wDYUA/viewform?embedded=true" width="640" height="935" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </section>
            </main>
        </body>
    </div>
</html>