<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section class="" style="margin-top:37em;">
                    <a href="#scroll"><h1 style="text-align:center;color:white;font-size:10em;"><ion-icon name="arrow-dropdown-circle" class="mdl-button--fab"></ion-icon></h1></a>
                </section>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="page-content" id="scroll">
                        <div class="mdl-layout-spacer"></div>
                        <div class="demo-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>Who</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>Any students.</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>When</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>22 Feb 20.</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>Where</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>Porter-Gaud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-card__menu">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </button></a>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="about">
                                    Add to Calendar
                                </a>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="demo-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>What is PGCTF?</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>PGCTF is an annual, entirely student-run cybersecurity competition held by Porter-Gaud School. Our goal is to garner more student interest in the cybersecurity field without boring lectures; what better way to have fun than a competition?</p>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="about">
                                    Learn more
                                </a>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="page-content mdl-layout--large-screen-only">
                        <div class="mdl-layout-spacer"></div>
                        <div class="demo-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>Testimonials</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4><strong>PGCTF19</strong></h4>
                                        <p>"10/10 would go again even if it was a two hour drive."</p>
                                        <p>"I liked working with a group and sharing info and using this as a way to learn rather than a test of knowledge."</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone">
                                        <hr>
                                    </div>
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4><strong>PGCTF17</strong></h4>
                                        <p>"Our favorite part of the event was collaborating with my team and sense of achievement when we completed a complex problem."</p>
                                        <p>"The event was so much fun! I felt as if almost everything was actually in reach. This made every problem worth trying."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="reputation">
                                    More statistics
                                </a>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
                <div class="mdl-grid" style="margin-top: -1.65em;">
                    <div class="mdl-layout-spacer"></div>
                    <div class="page-content mdl-layout--small-screen-only">
                        <div class="demo-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col" style="width: 470px !important;">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>Testimonials</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4><strong>PGCTF19</strong></h4>
                                        <p>"10/10 would go again even if it was a two hour drive."</p>
                                        <p>"I liked working with a group and sharing info and using this as a way to learn rather than a test of knowledge."</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone">
                                        <hr>
                                    </div>
                                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4><strong>PGCTF17</strong></h4>
                                        <p>"Our favorite part of the event was collaborating with my team and sense of achievement when we completed a complex problem."</p>
                                        <p>"The event was so much fun! I felt as if almost everything was actually in reach. This made every problem worth trying."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="reputation">
                                    More statistics
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
            </main>
        </body>
    </div>
</html>