<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section class="" style="margin-top:37em;">
                    <a href="#scroll"><h1 style="text-align:center;color:white;font-size:10em;"><ion-icon name="arrow-dropdown-circle" class="mdl-button--fab"></ion-icon></h1></a>
                </section>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-grid" style="justify-content: center;">
                    <div class="mdl-layout-spacer"></div>
                    <div class="page-content mdl-layout--large-screen-only" id="scroll">
                        <div class="mdl-layout-spacer"></div>
                        <div class="demo-card-wide mdl-card mdl-cell--middle mdl-shadow--6dp mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>Who</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>Any students.</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>When</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>22 Feb 20.</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>Where</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>Porter-Gaud.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-card__menu">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I%20am%20going%20to%20PGCTF20" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </button></a>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a id="cal" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    Add to Calendar
                                </a>
                            </div>

                            <script>
                            var icsMSG = `BEGIN:VCALENDAR
CALSCALE:GREGORIAN
VERSION:2.0
X-WR-CALNAME:PGCTF20
METHOD:PUBLISH
PRODID:-//Apple Inc.//Mac OS X 10.15//EN
BEGIN:VTIMEZONE
TZID:America/New_York
BEGIN:DAYLIGHT
TZOFFSETFROM:-0500
RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=2SU
DTSTART:20070311T020000
TZNAME:EDT
TZOFFSETTO:-0400
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:-0400
RRULE:FREQ=YEARLY;BYMONTH=11;BYDAY=1SU
DTSTART:20071104T020000
TZNAME:EST
TZOFFSETTO:-0500
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
TRANSP:OPAQUE
DTEND;TZID=America/New_York:20200222T150000
X-APPLE-TRAVEL-ADVISORY-BEHAVIOR:DISABLED
UID:B20848F9-3EC6-426A-9D6D-5018C892A053
DTSTAMP:20190926T164331Z
LOCATION:300 Albemarle Rd\nCharleston\, SC\, United States
DESCRIPTION:
STATUS:CONFIRMED
SEQUENCE:1
SUMMARY:PGCTF20
DTSTART;TZID=America/New_York:20200222T090000
LAST-MODIFIED:20190926T164331Z
X-APPLE-STRUCTURED-LOCATION;VALUE=URI;X-APPLE-MAPKIT-HANDLE=CAESuAII2TIa
 EgmYWTrVEGNAQBEREN39u/1TwCKqAQoNVW5pdGVkIFN0YXRlcxICVVMaDlNvdXRoIENhcm9s
 aW5hIgJTQyoKQ2hhcmxlc3RvbjIKQ2hhcmxlc3RvbjoFMjk0MDdCHVdlc3QgQXNobGV5IElu
 c2lkZSBNYXJrIENsYXJrUgxBbGJlbWFybGUgUmRaAzMwMGIQMzAwIEFsYmVtYXJsZSBSZIoB
 HVdlc3QgQXNobGV5IEluc2lkZSBNYXJrIENsYXJrKhAzMDAgQWxiZW1hcmxlIFJkMhAzMDAg
 QWxiZW1hcmxlIFJkMhVDaGFybGVzdG9uLCBTQyAgMjk0MDcyDVVuaXRlZCBTdGF0ZXM4OUAA
 WiQKIhISCZhZOtUQY0BAEREQ3f27/VPAGNkyIN3+6o64iKPwzAE=;X-APPLE-RADIUS=313.
 4185333822118;X-TITLE="300 Albemarle Rd\nCharleston, SC, United States":
 geo:32.773951,-79.964599
CREATED:20190926T164331Z
BEGIN:VALARM
UID:A7404428-3EEC-4A88-B964-AAAE24363B27
ACTION:AUDIO
TRIGGER:-P2D
ATTACH;VALUE=URI:Chord
X-WR-ALARMUID:A7404428-3EEC-4A88-B964-AAAE24363B27
END:VALARM
BEGIN:VALARM
UID:F5795522-A314-4E9D-827B-B17B6CCAB284
ACTION:AUDIO
TRIGGER:-P1D
ATTACH;VALUE=URI:Chord
X-WR-ALARMUID:F5795522-A314-4E9D-827B-B17B6CCAB284
END:VALARM
END:VEVENT
END:VCALENDAR

                            `
                            $('#cal').click(function () {
                                window.open( "data:text/calendar;charset=utf8," + escape(icsMSG));
                            });
                            </script>

                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="demo-card-wide mdl-card mdl-cell--middle mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>What is PGCTF?</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>PGCTF is an annual, entirely student-run cybersecurity competition held by Porter-Gaud School. Our goal is to garner more student interest in the cybersecurity field without boring lectures; what better way to have fun than a competition?</p>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="about">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="demo-card-wide mdl-card mdl-cell--middle mdl-shadow--6dp mdl-cell mdl-cell--4-col mdl-layout--small-screen-only">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                    <h4>Who</h4>
                                    <hr class="mdl-layout--large-screen-only">
                                    <p>Any students.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                    <h4>When</h4>
                                    <hr class="mdl-layout--large-screen-only">
                                    <p>22 Feb 20.</p>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                    <h4>Where</h4>
                                    <hr class="mdl-layout--large-screen-only">
                                    <p>Porter-Gaud.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="images/pgctf.ics">
                                Add to Calendar
                            </a>
                        </div>
                    </div>

                    <div class="demo-card-wide mdl-card mdl-cell--middle mdl-shadow--6dp mdl-cell mdl-cell--4-col mdl-layout--small-screen-only">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text center"><strong>What is PGCTF?</strong></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-card__supporting-text">
                                <p>PGCTF is an annual, entirely student-run cybersecurity competition held by Porter-Gaud School. Our goal is to garner more student interest in the cybersecurity field without boring lectures; what better way to have fun than a competition?</p>
                            </div>
                        </div>
                    </div>

                    <div class="demo-card-wide mdl-card mdl-cell--middle mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text center"><strong>Testimonials</strong></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone" style="text-align: center;">
                                    <h4><strong>PGCTF19</strong></h4>
                                    <p>"10/10 would go again even if it was a two hour drive."</p>
                                    <p>"I liked working with a group and sharing info and using this as a way to learn rather than a test of knowledge."</p>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone">
                                    <hr>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone" style="text-align: center;">
                                    <h4><strong>PGCTF17</strong></h4>
                                    <p>"Our favorite part of the event was collaborating with my team and sense of achievement when we completed a complex problem."</p>
                                    <p>"The event was so much fun! I felt as if almost everything was actually in reach. This made every problem worth trying."</p>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="reputation">
                                More statistics
                            </a>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
                </div>
            </main>
        </body>
    </div>
</html>