<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section class="page-content" style="margin-top: 47em;">
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="demo-card-wide mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>Who</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>Anyone.</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>When</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>22 Feb 20.</p>
                                    </div>
                                    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                                        <h4>Where</h4>
                                        <hr class="mdl-layout--large-screen-only">
                                        <p>Porter-Gaud</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-card__menu">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </button></a>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </section>
            </main>
        </body>
    </div>
</html>