<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section style="margin-top: 8em;">
                    <h1 style="color:white;text-align:center;"><strong>We run it</strong></h1>
                </section>
                <section class="page-content" style="margin-top: 17em;">
                    <blockquote><h1 style="color:white;margin-bottom: -1em;">Students</h1></blockquote>
                    <div class="mdl-grid" style="margin-right: 1em;">
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/charles.jpg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Charles</strong>&nbsp;Truluck</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/michael.jpeg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Michael</strong>&nbsp;Shipman</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/pleasent.jpg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Pleasant</strong>&nbsp;Balenger</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/kyler.jpeg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Kyler</strong>&nbsp;Psenka</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </section>
                <section class="page-content" style="margin-top: 5em;">
                    <blockquote><h1 style="color:white;margin-bottom: -1em;">Resources</h1></blockquote>
                    <div class="mdl-grid" style="margin-right: 1em;">
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/charles.jpg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Charles</strong> Truluck</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/michael.jpeg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Michael</strong> Shipman</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/pleasent.jpg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Pleasant</strong> Balenger</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--3-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title" style="height: 176px; background: url('images/profiles/kyler.jpeg') no-repeat center / cover #46B6AC; color: white;">
                                    <h2 class="mdl-card__title-text center"><strong>Kyler</strong> Psenka</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>Charles Truluck is a junior and has been programming for around 5 years. He is active in the Cybersecurity, football, and bowling communities.</p>
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/charlestruluck_" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </section>
            </main>
        </body>
    </div>
</html>