<!DOCTYPE html>
<html>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
        <% include partials/header %>
        <body>
            <main class="mdl-layout__content">
                <section class="page-content" style="margin-top: 17em;">

                    <div class="mdl-grid" style="margin-left: 1em; margin-right: 1em;">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <div class="grid-card mdl-cell mdl-cell--4-col mdl-cell--8-col-phone" style="text-align: center;">
                            <div class="grid-card mdl-card mdl-shadow--6dp mdl-cell mdl-cell--4-col">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text center"><strong>Welcome to PGCTF20</strong></h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                </div>
                                <div class="mdl-card__menu">
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=asdf" target="_blank"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </section>
            </main>
        </body>
    </div>
</html>